name: Publish Extension

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: 16
    - name: Install
      run: npm ci
    - name: Compile
      run: npm run compile
    - name: Lint
      run: npm run lint
    # - name: Test
    #   run: npm run test
    - name: Publish vscode
      run: npx vsce publish -p ${{ secrets.VSCE_PAT }}
    - name: Publish OpenVSX
      run: npx ovsx publish -p ${{ secrets.OPEN_VSX_PAT }}
